<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dike Cutz</title>
    <link rel="shortcut icon" href="/css/images/barbershop-logo-png-transparent.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/contact.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
    <div class="header">
        <div id="logo-container">
            <img src="/css/images/barbershop-logo-png-transparent.png" width="100" alt="">
            <div class="toggler">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="navigationbar">
            <ul>
                <li><a class="menu-link" id="menu-link1" href="index.page.html">Home</a></li>
                <li><a class="menu-link" id="menu-link2" href="services.page.html">Services</a></li>
                <li><a class="menu-link" id="menu-link3" href="about.page.html">About</a></li>
                <li><a class="menu-link" id="menu-link4" href="contact.page.html">Contact</a></li>
            </ul>
        </div>

    </div>
    <!-- main contents -->
    <div class="main">
        <!-- <div class="background"></div>
        <div class="gradient_bg"></div> -->

        <div class="form-container">
            <form action="" id="custom-form" class="custom-form" method="post">
                <!-- part1 -->
                <div class="contact-info">
                    <h2>Let's Connect</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Eaque minima quo provident, dolor possimus aliquid debitis 
                        ipsum nesciunt quidem esse dicta deserunt labore error optio consectetur 
                        tempore sapiente assumenda fugiat 
                        accusamus fuga nulla? Beatae sit rem natus animi dicta.
                    </p>
                    <div class="contact-email">
                        <i class="fas fa-envelope"></i>
                       <p> dikeCutz@gmail.com</p>
                    </div>
                    <div class="contact-phone">
                        <i class="fas fa-phone-alt"></i>
                        <p>+234 567 745 1230</p>
                    </div>
                    <div class="contact-address">
                        <i class="fas fa-map-marker-alt"></i>
                        <p>Obi Okoye Road, Awka, Anambra State, Nigeria</p>
                    </div>
                </div>
                <!-- part2 -->
                <div class="user-contact-info">
                    <h2>Send us a message</h2>
                    <label for="allnames">First & Last Name</label><br>
                    <input type="text" id="allnames" name="allnames" class="allnames"><br><br>

                    <div class="email-phone">
                        <!-- phone number -->
                        <label for="phone-number">Phone number</label><br>
                        <input type="text" id="phone-number" class="phone-number" name="phoneNumber"><br><br>

                        <!-- Email Address -->
                        <label for="email-address">Email Address</label><br>
                        <input type="email" id="email-address" class="email-address" name="emailAddress" ><br><br>
                    </div>

                    <!-- Message -->
                    <label for="message">Message</label><br>
                    <textarea name="message" id="message" cols="38" rows="5"></textarea><br><br>

                    <button class="contact-us" name="contactUs" id="contact-us">Contact us now</button>
                </div>
            </form>
        </div>
    </div>
    <!-- gsap library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <!-- my JS -->
    <script src="/js/script.js"></script>
</body>
</html>