<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dike Cutz</title>
    <link rel="shortcut icon" href="/css/images/barbershop-logo-png-transparent.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css"> 
    <!-- <link rel="stylesheet" href="/css/owlcarousel-css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owlcarousel-css/owl.theme.default.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
    <div class="header">
        <div id="logo-container">
            <img src="/css/images/barbershop-logo-png-transparent.png" width="100" alt="">
            <div class="toggler">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="navigationbar">
            <ul>
                <li><a class="menu-link" id="menu-link1" href="index.page.html">Home</a></li>
                <li><a class="menu-link" id="menu-link2" href="services.page.html">Services</a></li>
                <li><a class="menu-link" id="menu-link3" href="about.page.html">About</a></li>
                <li><a class="menu-link" id="menu-link4" href="contact.page.html">Contact</a></li>
            </ul>
        </div>
    </div> 

    <!-- content -->
    <div class="main-container">
        <!-- intro pic background -->
        <div class="frame1" id="home">
            <div class="introPic">
                <img src="/css/images/img (1).jpg">
                <h3 class="headline">The GentleMan's <br> Barbershop</h3>
                <p class="description">Welcome To Dike Cutz, where we give you the best haircutz of your choice</p>
                <button id="seeMorebtn">See Our Shop</button>
            </div>
        </div>
        <div class="frame2">
            <div class="displayProduct">
                <h2 class="tagnumber">01.</h2>
                <h2 class="displayHeader">Welcome To Dike's Cutz</h2><br>
                <!-- <p class="productdescription" id="productdescription">Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
                    Quas beatae assumenda deleniti eos non aperiam incidunt <br> voluptas 
                    soluta labore porro. Lorem ipsum dolor sit amet.
                </p> -->
                <br>
                <p class="productdescription2"> Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
                    Quas beatae assumenda deleniti eos non aperiam incidunt <br> voluptas 
                    soluta labore porro. Lorem ipsum dolor <br> sit amet, 
                    consectetur adipisicing elit. Doloremque, eaque. 
                    
                </p>
                <button id="schedulebtn">Schedule An Appointment</button>
            </div>
            <div id="displayImageContainer" class="displayImage">
                <img src="/css/images/brush.png" width="350" alt="">
            </div>
        </div> 
        <!-- owl carousel -->
        <div class="carousel-container">
            <div class="owl-carousel">
                <!-- <img src="/css/images/owner (1).jpg" alt="">
                <img src="/css/images/owner (2).jpg" alt="">
                <img src="/css/images/owner (3).jpg" alt="">
                <img src="/css/images/owner (4).jpg" alt="">
                <img src="/css/images/owner (5).jpg" alt=""> -->
            </div> 
        </div>

        <div class="frame4">
            <!-- scissors logo -->
            <!-- <i class="fas fa-cut"></i> -->
            <h2>Shop Gallery</h2>
            <div class="galleryImages">
                <img class="g-image" id="g-image1" src="/css/images/img (2).jpg" alt="">
                <!-- <img class="g-image1" src="/css/images/alex-mihai-c-FWgYghZrVqU-unsplash.jpg" alt=""> -->
                <img class="g-image" id="g-image2" src="/css/images/img (3).jpg" alt=""> 
                <img class="g-image" id="g-image3" src="/css/images/img (4).jpg" alt="">
                <img class="g-image" id="g-image4" src="/css/images/img (5).jpg" alt="">
                <img class="g-image" id="g-image5" src="/css/images/img (6).jpg" alt="">
                <img class="g-image" id="g-image6" src="/css/images/img.jpg" alt="">
            </div>
        </div>
        <div class="frame5">
            <img src="/css/images/location.jpg" alt="">
            <div id="address">
                <div class="written-address">
                    <h2>Location & Hours</h2>
                    <p>
                        Our Salon is located at the capital city Awka, Obi Okoye Road.
                    </p>
                    <h4>Dike Cutz Barbershop</h4>
                    <p>​
                        Our working hours are listed below
                    </p>
                    <h4>Monday - Saturday</h4>
                    <p>Active from 7am - 8pm</p>

                    <h4>Sunday</h4>
                    <p>Closed</p>
                </div>
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d126925.93284301556!2d6.9925182!3d6.2061571!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x104382c482e1ac17%3A0x5fc49398cef83997!2sObi%20Okoye%20Road%2C%20420108%2C%20Awka%2C%20Nigeria!5e0!3m2!1sen!2sbj!4v1641829081861!5m2!1sen!2sbj" 
                    width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>

    </div>

    <!-- footer -->
    <div class="footer">
        <ul class="bottom-links-carrier">
            <li><a href="#home" class="bottom-home">Home</a></li>
            <li><a href="services.page.html" class="bottom-links">Services</a></li>
            <li><a href="about.page.html" class="bottom-links">About</a></li>
            <li><a href="contact.page.html" class="bottom-links">Contact</a></li>
        </ul>

        <div class="social-media">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
        <h2>Dike Cutz Barbershop</h2>
        <p>Copyright &copy; 2021.  Made By <a href="https://github.com/kendzo0">Kendzo</a></p>
        <span class="copie"></span>
    </div>
    <!-- GSAP library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <!-- my JS -->
    <script src="/js/script.js"></script>
</body>
</html>