<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/css/images/barbershop-logo-png-transparent.png" type="image/x-icon">
    <title>Dike Cutz</title>
    <link rel="stylesheet" href="/css/style.css"> 
    <link rel="stylesheet" href="/css/services.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
    <!-- the top/header -->
    <div class="header">
        <div id="logo-container">
            <img src="/css/images/barbershop-logo-png-transparent.png" width="100" alt="">
            <div class="toggler">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </div>
        <div class="divider"></div>
        
        <!-- navigation -->
        <div class="navigationbar">
            <ul>
                <li><a class="menu-link" id="menu-link1" href="index.page.html">Home</a></li>
                <li><a class="menu-link" id="menu-link2" href="services.page.html">Services</a></li>
                <li><a class="menu-link" id="menu-link3" href="about.page.html">About</a></li>
                <li><a class="menu-link" id="menu-link4" href="contact.page.html">Contact</a></li>
            </ul>
        </div>
    </div>
    <!-- content -->
    <div class="main"> 
        <div class="entry-pic">
            <h2 class="headline">Services</h2>
            <p class="description">Book Your Appointments With Us And See Our Prices</p>
            <img src="/css/images/barber tools.jpg" alt="">
        </div>
        <div class="pricing-container" id="services">
            <div class="p-major-a">
                <h2>WE'RE A FULL SERVICE ESTABLISHMENT</h2>
                <p>Dike Cutz barbershop was established in 2001. We cater soley to males that
                    are looking for upscale hair treatment. Our premium services provide men of
                    all ages, that flawless look.
                </p>
            </div>
            <div class="p-major">
                <div class="pricing1">
                    <h2>Shave & Haircut</h2>
                    <div class="price-tag" id="priceTag1">
                        <h2>N1500</h2>
                    </div>
                    <p>
                        We will give you a neat clean shave
                        with well-sterilized equipments and
                        the haircut of your choice.
                    </p>
                </div>
                <div class="pricing2">
                    <h2>Beard Trim & Haircut</h2>
                    <div class="price-tag" id="priceTag2">
                        <h2>N2000</h2>
                    </div>
                    <p >
                        Trimming beards is one of our specialty.
                        We will get you cleaned up and ready with 
                        the haircut of your choice.
                    </p>
                </div>
            </div> 
            
            <button class="appointment">Schedule an appointment</button>
        </div>
        <div class="cut-gallery">
            <img src="/css/images/price-pic (1).jpg" alt="">
            <img src="/css/images/price-pic (2).jpg" alt="">
            <img src="/css/images/price-pic (3).jpg" alt="">
        </div>

        <div class="your-experience">
            <h2>Your Experience is our guarrantee</h2>
            <p> Edit this text to make it your own. To edit, simply click directly on the text and start
                typing. You can move the text by dragging and dropping the Text Element
                anywhere on the page. Break up your text with more than one paragraph for
                ​better readability.
            </p>
        </div>
        
    </div>
    <div class="footer">
        <ul class="bottom-links-carrier">
            <li><a href="index.html" class="bottom-home">Home</a></li>
            <li><a href="#services" class="bottom-links">Services</a></li>
            <li><a href="about.html" class="bottom-links">About</a></li>
            <li><a href="contact.html" class="bottom-links">Contact</a></li>
        </ul>
        
        <div class="social-media">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
        </div>

        <h2 class="footerTitle">Dike Cutz Barbershop</h2>
        <p class='footerP'>Copyright &copy; 2021. Made By <a href="https://github.com/kendzo0">Kendzo</a></p>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <script src="/js/script.js"></script>

</body>
</html>